<div class="container mt-5">
    <div class="row" *ngIf="order">
        <div class="col-8">
            <app-basket-summary
            [items]="order.orderItems"
            [isBasket]="false"
            [isOrder]="true">
            </app-basket-summary>
        </div>
        <div class="col-4">
            <div class="bg-light px-4 text-uppercase py-3 font-weight-bold">
                Order Summary
            </div>
            <div class="p-4">
                <p class="mb-4">Shipping costs Will be added depending on your choice made during checkout</p>
                <ul class="list-unstyled mb-4" *ngIf="order">
                    <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Order Subtotal</strong>
                        <strong>{{order.subtotal | currency}}</strong>
                    </li>
                    <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Shipping and handling</strong>
                        <strong>{{order.shippingPrice | currency}}</strong>
                    </li>
                    <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Total</strong>
                        <strong>{{order.total | currency}}</strong>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</div>